* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desk {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desk .bedkit-body {
    display: flex;
    width: 70%;
    height: auto;
    padding: 2rem 0;
}

.desk .bedkit-body .bedkit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.desk .bedkit-body .bedkit .bedkit-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2rem;
    background: rgb(57, 91, 100);
    background: linear-gradient(124deg, rgba(57, 91, 100, 1) 0%, rgba(165, 201, 202, 1) 100%);
    color: #ffffff;
    border-radius: 3.5rem;
}

.wrapform {
    width: 100%;
}

.wrapform h2 {
    width: 70%;
    margin: auto auto;
    font-weight: 900;
}

.form-user {
    display: grid;
    justify-items: center;
}

.form-user input {
    width: 70%;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    padding-left: 15px;
    box-shadow: #646464 0px 0px 15px;
}

.btn-signin {
    color: #ffffff;
    font-weight: 800;
    background: rgb(249, 148, 23);
    background: linear-gradient(90deg, rgba(249, 148, 23, 1) 0%, rgba(255, 249, 176, 1) 100%);
    width: 70%;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    box-shadow: #646464 0px 0px 15px;
    cursor: pointer;
}

.btn-signin:hover {
    background: rgb(249, 148, 23);
    background: linear-gradient(124deg, rgba(249, 148, 23, 1) 0%, rgba(255, 249, 176, 1) 100%);
}

.or {
    font-size: 18px;
}

.btn-createuser a {
    color: #ffffff;
    font-weight: 800;
    width: 100%;
    text-decoration: none;
}

.btn-createuser:hover {
    background-color: #6D523C;
}

.admin {
    color: #757575;
}

.admin a {
    color: #6D523C;
    font-weight: 800;
    text-decoration: none;
}

.admin a:hover {
    color: #FF7000;
}



@media screen and (max-width : 1024px) {

    .bedkit-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: auto auto;
    }

    .bedkit {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;
    }


    .bedkit-text {
        width: 80%;
        padding: 2rem;
        border-radius: 3.5rem;
    }

    .bedkit-text h2 {
        margin-bottom: 0.3rem;
    }

    .bedkit-img {
        width: 100%;
    }

}

@media screen and (max-width : 768px) {
    .bed-new {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

}